{% extends "layout.html" %}	
{% block body %}

{% if edit %}
<div id="stage{{ posts|length + 1 }}" class="editable"></div>
<button id="{{ posts|length + 1 }}" class="bntSave" type="button">speichern</button>
{% endif %}
{% for post in posts %}
<div class="images">
	<img src="img/{{ post.id }}/1.png">
	<img src="img/{{ post.id }}/2.png">
	<img src="img/{{ post.id }}/3.png">
</div>	
	<div id="{{ post.id  }}" class="editable">
		{{ post.data | safe }}
	</div>
    {% include "comments.html" %}
{% if edit %}
<button id="{{ post.id }}"class="bntSave" type="button">speichern</button>
{% endif %}
{% endfor %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/comments/dist/bundle.js') }}"></script>
{% endblock %}
